<div class="styleguide-nav">
  <ul>
    <li><a href="#colors">Colors</a>
      <ul>
        <li><a href="#brand-colors">Brand colors</a></li>
        <li><a href="#grays">Grays</a></li>
      </ul>
    </li>
    <li><a href="#grids">Grids
        <ul>
          <li><a href="#grids-system">Grid system</a></li>
        </ul></a></li>
    <li><a href="#typography">Typography</a>
      <ul>
        <li><a href="#headings">Headings</a></li>
        <li><a href="#body-text">Body text</a></li>
        <li><a href="#alignment-classes">Alignment classes</a></li>
        <li><a href="#transformation-classes">Transformation classes</a></li>
      </ul>
    </li>
    <li><a href="#buttons">Buttons</a>
      <ul>
        <li><a href="#button-options">Options</a></li>
        <li><a href="#button-sizes">Sizes</a></li>
        <li><a href="#button-disabled">Disabled state</a></li>
        <li><a href="#button-tags">Button tags</a></li>
      </ul>
    </li>
    <li><a href="#forms">Forms</a>
      <ul>
        <li><a href="#forms-base">Base styles</a></li>
        <li><a href="#forms-horz">Horizontal forms</a></li>
        <li><a href="#forms-size">Input sizes</a></li>
        <li><a href="#forms-errors">Form errors</a></li>
      </ul>
    </li>
    <li><a href="#tables">Tables</a>
      <ul>
        <li><a href="#tables-base">Base</a></li>
        <li><a href="#tables-condensed">Condensed</a></li>
        <li><a href="#tables-nostripes">No stripes</a></li>
        <li><a href="#tables-hover">Hover</a></li>
      </ul>
    </li>
    <li><a href="#icons">Icons</a></li>
  </ul>
</div>
