section.forms-section.main-section
  h2.section-header#forms Forms

  h3.sub-section-header#forms-base Base styles
  p Individual form controls automatically receive some global styling. All textual <code>&lt;input&gt;</code>, <code>&lt;textarea&gt;</code>, and <code>&lt;select&gt;</code> elements with <code>.form-control</code> are set to <code>width: 100%;</code> by default. Wrap labels and controls in <code>.form-group</code> for optimum spacing. See Bootstrap docs for more guidlines.
  .prism-example
    .example-content
      form
        .form-group
          label Email
          input(type='text',placeholder='john@gmail.com').form-control
        .form-group
          label Color
          select.form-control
            option Red
            option Green
            option Blue
          span.help-block Your favorite color.
        .form-group
          .checkbox
            label
              input(type='checkbox', value='a')
              | Option A
          .checkbox
            label
              input(type='checkbox', value='b')
              | Option B
        .form-group
          .radio
            label
              input(type='radio', name='options')
              | Option 1
          .radio
            label
              input(type='radio', name='options')
              | Option 2
        .form-group
          label Message
          textarea(rows=3).form-control
        button(type='submit').btn.btn-primary Submit
    .example-code
      pre
        code
          ='<form>\n'
          ='  <div class="form-group">\n'
          ='    <label>Email</label>\n'
          ='    <input class="form-control" type="text" placeholder="john@gmail.com">\n'
          ='  </div>\n'
          ='  <div class="form-group">\n'
          ='    <label>Color</label>\n'
          ='    <input class="form-control" type="text" placeholder="john@gmail.com">\n'
          ='    <span class="help-block">Your favorite color.</span>\n'
          ='  </div>\n'
          ='  <div class="form-group">\n'
          ='    <div class="checkbox">\n'
          ='      <label>\n'
          ='        <input type="checkbox" value="a"> Option A\n'
          ='      </label>\n'
          ='    </div>\n'
          ='    <div class="checkbox">\n'
          ='      <label>\n'
          ='        <input type="checkbox" value="b"> Option B\n'
          ='      </label>\n'
          ='    </div>\n'
          ='  </div>\n'
          ='  <div class="form-group">\n'
          ='    <div class="radio">\n'
          ='      <label>\n'
          ='        <input type="radio" value="1" name="options"> Option 1\n'
          ='      </label>\n'
          ='    </div>\n'
          ='    <div class="radio">\n'
          ='      <label>\n'
          ='        <input type="radio" value="2" name="options"> Option 2\n'
          ='      </label>\n'
          ='    </div>\n'
          ='  </div>\n'
          ='  <div class="form-group">\n'
          ='    <label>Message</label>\n'
          ='    <textarea class="form-control" rows="3"></textarea>\n'
          ='  </div>\n'
          ='  <button type="submit" class="btn btn-primary">Submit</button>\n'
          ='</form>'

  h3.sub-section-header#forms-horz Horizontal forms
  p By adding the <code>.form-horizontal</code> class to the form, you can now use grid classes to layout the form elements.
  .prism-example
    .example-content
      form.form-horizontal
        .form-group
          label.col-sm-2.control-label Name
          .col-sm-9
            input(type='text',placeholder='John Smith').form-control
        .form-group
          label.col-sm-2.control-label Email
          .col-sm-9
            input(type='text',placeholder='john@gmail.com').form-control
    .example-code
      pre
        code
          ='<form class="form-horizontal">\n'
          ='  <div class="form-group">\n'
          ='    <label class="col-sm-2 control-label">Name</label>\n'
          ='    <div class="col-sm-9">\n'
          ='      <input type="text" placeholder="John Smith" class="form-control">\n'
          ='    </div>\n'
          ='  </div>\n'
          ='  <div class="form-group">\n'
          ='    <label class="col-sm-2 control-label">Email</label>\n'
          ='    <div class="col-sm-9">\n'
          ='      <input type="email" placeholder="john@gmail.com" class="form-control">\n'
          ='    </div>\n'
          ='  </div>'

  h3.sub-section-header#forms-size Form sizes
  p Change the size of inputs by adding <code>.input-lg</code> and <code>.input-sm</code> classes
  .prism-example
    .example-content
      form
        .form-group
          input(type='text',placeholder='Large input').form-control.input-lg
        .form-group
          input(type='text',placeholder='Regular input').form-control
        .form-group
          input(type='text',placeholder='Small input').form-control.input-sm
    .example-code
      pre
        code
          ='<form class="form-horizontal">\n'
          ='  <div class="form-group">\n'
          ='    <input type="text" placeholder="Large input" class="form-control input-lg">\n'
          ='  </div>\n'
          ='  <div class="form-group">\n'
          ='    <input type="text" placeholder="Regular input" class="form-control">\n'
          ='  </div>\n'
          ='  <div class="form-group">\n'
          ='    <input type="text" placeholder="Small input" class="form-control input-sm">\n'
          ='  </div>\n'
          ='</form>'

  h3.sub-section-header#forms-errors Form errors
  p Apply an error state by adding the <code>.has-error</code> class to an element and optionally adding an error message in the <code>.help-block</code>.
  .prism-example
    .example-content
      form
        .form-group.has-error
          label.control-label Email
          input(type='email',placeholder='john@gmail.com').form-control
          span.help-block Your email isn't good enough
    .example-code
      pre
        code
          ='<form>\n'
          ='  <div class="form-group has-error">\n'
          ='    <label class="control-label">Email</label>\n'
          ='    <input type="text" placeholder="john@gmail.com" class="form-control">\n'
          ='    <span class="help-block">Your email isn\'t good enough</span>\n'
          ='  </div>\n'
          ='</form>'
