section.grid-section.main-section
  h2.section-header#grids Grids

  h3.sub-section-header#grids-system Grid system
  p We are using a slightly simplified version of Bootstrap's grid system. For documentation, see <a href='http://getbootstrap.com/css/#grid'>Bootstrap's grid documents</a>
