section.typography-section.main-section
  h2.section-header#buttons Buttons

  h3.sub-section-header#button-options Options
  p A collection of easy to apply, semantic button styles. Suggested use is outlined in the comments below.
  .prism-example
    .example-content
      button(type='button').btn Default
      button(type='button').btn.btn-primary Primary
      button(type='button').btn.btn-success Success
      button(type='button').btn.btn-info Info
      button(type='button').btn.btn-danger Danger
    .example-code
      pre
        code
          ='<!-- Default button -->\n'
          ='<button type="button" class="btn btn-default">Default</button>\n\n'
          ='<!-- The primary action in groups of buttons -->\n'
          ='<button type="button" class="btn btn-primary">Primary</button>\n\n'
          ='<!-- A positive or successful action -->\n'
          ='<button type="button" class="btn btn-success">Success</button>\n\n'
          ='<!-- For secondary actions or information/context -->\n'
          ='<button type="button" class="btn btn-info">Info</button>\n\n'
          ='<!-- A dangeroud or potentially irreversible action -->\n'
          ='<button type="button" class="btn btn-danger">Danger</button>'

  h3.sub-section-header#button-sizes Sizes
  p The default button can be made larger by applying the <code>.btn-lg</code> class, or smaller with <code>.btn-sm</code>.
  .prism-example
    .example-content
      button(type='button').btn.btn-primary.btn-lg Large button
      button(type='button').btn.btn-primary Default button
      button(type='button').btn.btn-primary.btn-sm Small button
    .example-code
      pre
        code
          ='<button type="button" class="btn btn-primary btn-lg">Large button</button>\n'
          ='<button type="button" class="btn btn-primary">Default button</button>\n'
          ='<button type="button" class="btn btn-primary btn-sm">Small button</button>\n'

  h3.sub-section-header#button-disabled Disabled state
  p Make buttons look unclickable. Use either <code>.disabled</code> class or <code>disabled</code> attribute.
  .prism-example
    .example-content
      button(type='button').btn.disabled Default
      button(type='button', disabled='true').btn.btn-primary Primary
      button(type='button').btn.btn-success.disabled Success
      button(type='button').btn.btn-info.disabled Info
      button(type='button').btn.btn-danger.disabled Danger
    .example-code
      pre
        code
          ='<button type="button" class="btn btn-default disabled">Default</button>\n'
          ='<button type="button" class="btn btn-primary" disabled="true">Primary</button>\n'
          ='<button type="button" class="btn btn-success disabled">Success</button>\n'
          ='<button type="button" class="btn btn-info disabled">Info</button>\n'
          ='<button type="button" class="btn btn-danger disabled">Danger</button>'

  h3.sub-section-header#button-tags Button tags
  p Use the button classes on an <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code> or <code>&lt;input&gt;</code> element.
  .prism-example
    .example-content
      a(href='#', role='button').btn.btn-primary Link
      button(role='button').btn.btn-primary Button
      input(type='button', value='Input').btn.btn-primary
      input(type='submit', value='Submit').btn.btn-primary
    .example-code
      pre
        code
          ='<a href="#" role="button" class="btn btn-primary">Link</a>\n'
          ='<button role="button" class="btn btn-primary">Button</button>\n'
          ='<input type="button" value="Input" class="btn btn-primary">\n'
          ='<input type="submit" value="Submit" class="btn btn-primary">'
