section.colors-section.main-section.language-none
  h2.section-header#colors Colors
  h3.sub-section-header#brand-colors Brand colors
  .colors-section
    .colors-col.primary
      .swatch.primary-darker
        code $c-primary-darker<br>#1686c5
      .swatch.primary-dark
        code $c-primary-dark<br>#2b9dd0
      .swatch.primary
        code $c-primary<br>#00c5e5
      .swatch.primary-light
        code $c-primary-light<br>#6ce1f2
    .colors-col.success
      .swatch.success-darker
        code $c-success-darker<br>#01a510
      .swatch.success-dark
        code $c-success-dark<br>#25bb41
      .swatch.success
        code $c-success<br>#56d980
      .swatch.success-light
        code $c-success-light<br>#7befb1
    .colors-col.info
      .swatch.info-darker
        code $c-info-darker<br>#00979e
      .swatch.info-dark
        code $c-info-dark<br>#15a9ab
      .swatch.info
        code $c-info<br>#3eccc4
      .swatch.info-light
        code $c-info-light<br>#67efde
    .colors-col.danger
      .swatch.danger-darker
        code $c-danger-darker<br>#d83d3d
      .swatch.danger-dark
        code $c-danger-dark<br>#e55e5e
      .swatch.danger
        code $c-danger<br>#fc8b8b
      .swatch.danger-light
        code $c-danger-light<br>#fbb

  h3.sub-section-header#grays Grays
  .colors-section.grays
    .colors-col.gray
      .swatch.gray-darker
        code $c-gray-darker<br>#333
    .colors-col.gray
      .swatch.gray-dark
        code $c-gray-dark<br>#666
    .colors-col.gray
      .swatch.gray
        code $c-gray<br>#999
    .colors-col.gray
      .swatch.gray-light
        code $c-gray-light<br>#ccc
    .colors-col.gray
      .swatch.gray-lighter
        code $c-gray-lighter<br>#f2f2f2
