.styleguide-nav
  ul
    li
      a(href='#colors') Colors
      ul
        li
          a(href='#brand-colors') Brand colors
        li
          a(href='#grays') Grays

    li
      a(href='#grids') Grids
        ul
          li
            a(href='#grids-system') Grid system

    li
      a(href='#typography') Typography
      ul
        li
          a(href='#headings') Headings
        li
          a(href='#body-text') Body text
        li
          a(href='#alignment-classes') Alignment classes
        li
          a(href='#transformation-classes') Transformation classes

    li
      a(href='#buttons') Buttons
      ul
        li
          a(href='#button-options') Options
        li
          a(href='#button-sizes') Sizes
        li
          a(href='#button-disabled') Disabled state
        li
          a(href='#button-tags') Button tags

    li
      a(href='#forms') Forms
      ul
        li
          a(href='#form-base') Base styles

    li
      a(href='#tables') Tables
      ul
        li
          a(href='#tables-base') Base
        li
          a(href='#tables-condensed') Condensed
        li
          a(href='#tables-nostripes') No stripes
        li
          a(href='#tables-hover') Hover
