//- To be used as sample markup for table styles
mixin table
  table&attributes(attributes)
    thead
      tr
        th Name
        th Size
        th Fitness
    tbody
      tr
        td Murphy
        td Large
        td Medium
      tr
        td Charlie
        td Small
        td High
      tr
        td Poncho
        td Small
        td N/A

section.tables-section.main-section
  h2.section-header#tables Tables

  h3.sub-section-header#tables-base Base styles
  p Add the <code>.table</code> class to any table element you want to receive base styling. Add other <code>.table-*</code> classes to further style the table.
  .prism-example
    .example-content
      +table()(class='table')
    .example-code
      pre
        code
          ='<table class="table">\n'
          ='  ...\n'
          ='</table>'

  h3.sub-section-header#tables-condensed Condensed tables
  p Add the <code>.table-condensed</code> class for a more compact table (less padding).
  .prism-example
    .example-content
      +table()(class='table table-condensed')
    .example-code
      pre
        code
          ='<table class="table table-condensed">\n'
          ='  ...\n'
          ='</table>'

  h3.sub-section-header#tables-nostripes No stripes table
  p Add the <code>.table-nostripes</code> class for to remove the background fill of alternating rows.
  .prism-example
    .example-content
      +table()(class='table table-nostripes')
    .example-code
      pre
        code
          ='<table class="table table-nostripes">\n'
          ='  ...\n'
          ='</table>'

  h3.sub-section-header#tables-hover Hover table
  p Add the <code>.table-hover</code> class to apply a darker color to a row when a user hovers over it.
  .prism-example
    .example-content
      +table()(class='table table-hover')
    .example-code
      pre
        code
          ='<table class="table table-hover">\n'
          ='  ...\n'
          ='</table>'
